
.nav-page {
    padding: 20px;
    margin-top: 30px;
}

nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.nav-brand, .nav-link, .nav-about-link, .nav-profile-link{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li:hover:not(.nav-brand) {
    background-color: #111;
}

.nav-brand {
    background: orange;
}

.nav-brand, .nav-link {
    float: left;
}

.nav-profile-link, .nav-about-link {
    float: right;
}


